</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; CMS-Shopping-Cart</p>


<script src="/javascripts/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<script src="/javascripts/main.js"></script>
</body>

</html>