</div>
</div>
</div><!-- /.container -->
<br><br><br>

<footer>
  <div class="row">
    <div class="col-xs-12">
      <ul class="footer-nav">
        <li>
          <a href="#">Company</a>
        </li>
        <li>
          <a href="#">Contact us</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Shipping Rates & Policies</a>
        </li>
        <li>
          <a href="#">Returns & Replacements</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="footer-nav footer-right">
        <li><a href="https://www.linkedin.com/in/dragana-ilievska/" target="_blank"><i class="ion-logo-linkedin"></i></a></li>
        <li><a href="https://twitter.com" target="_blank"><i class="ion-logo-facebook"></i></a></li>
        <li><a href="https://instagram.com" target="_blank"><i class="ion-logo-instagram"></i></a></li>
      </ul>
    </div>

  </div>
  <div class="row">
    <p>
      Copyright &copy; 2018 by The Ecommerce Website. All rights reserved
    </p>
  </div>
</footer>


<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.3/dist/jquery.fancybox.min.js"></script>

<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>

</html>