<% include _layouts/header %>

<div class="container">
  <div class="row">
    <h1 class="page-header">Sales Page</h1>
    <br><br>
  </div>

  <div class="row top-row products p">

  </div>
</div>

<% include _layouts/footer %>
