/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-link.sales {
    background-color: #333;
    border: none;
  }

  .top-row {
    max-width: 600px;
  }
  .navbar {
    /* margin-right: 15px; */
    /* width: 110%; */
  }

  .nav-link:hover {
    border-bottom: 0;
  }

  .carousel {
    /* margin-left: 0px; */
    width: 100%;
  }

  .column-image {
    flex: 100%;
    max-width: 100%;
  }

  .search-icon {
    display: none;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sales {
    width:13%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sales {
    width:20%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sales {
    width:50%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sales {
    width:100%;
  }
}